{% extends 'app/base.html' %}

{% block content %}

<div class="form">
  <form action="{% url 'app:top' %}" method="POST">{% csrf_token %}
    {{ form.text }}
    <button type="submit" class="btn">create</button>
  </form>
</div>

{% for item in items %}
<div class="todo_item">
  <span class="text">
    {{ item.text}}
  </span>

  <span class="delete">
    <form action="{% url 'app:top'  %}" method="post">{% csrf_token %}
      <button class="btn_delete" type="submit" onclick='return confirm("Will you delete this?");'>delete</button>
    </form>
  </span>
</div>

{% endfor %}

{% endblock %}