body {
	font-family: mono;
	background: #F5F5F5;

}
.header {
	background: #FFD464;
	display: block;
	top: 0;	
	position: absolute;
	width: 100%;
}

h1 {
	text-align: center;
}


button {
	padding: .3em .8em;
	background: #F26964;
	box-shadow: 0 .05em .25em gray;
	color: white;
	border-radius: .2em;
	font-size: 125%;
	position: relative;
}


form {
	display: inline-block;

}

.todo_item {
  display: block;
  border-bottom: 1px solid gray;
  padding: 20px;
  font-size: 100%;
  color: #444;
  text-decoration: none;
}
.text {
	text-align: center;
}
.date {
	float: right;
}

footer {
	padding: 0.5em 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: #1253A4;
	color: white;
	width: 100%;	
}

.container {
	padding-top: 90px;
	width: 75%;
	margin: auto;
	overflow: auto;
}
